@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Colore blu del bottone */
:root {
  --burger-btn-color: #4263eb; /* sostituisci con il tuo esatto esadecimale */
}

body {
    font-family: 'Atkinson Hyperlegible';
    color: #333;
    margin: 2rem;
}

h2.text-center.mb-4 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 3rem !important;
  color: #CB0E9F;
  margin: 2rem;
}

/* Stile base del pulsante */
.btn-custom {
  background-color: #3452c8;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: background-color 0.2s, transform 0.1s;
}

/* Hover e active */
.btn-custom:hover {
  background-color: #3452c8;
  color: #14161A;
}
.btn-custom:active {
  background-color: #2a42a8;
  transform: scale(0.98);
}


